{%  extends 'main/base.html' %}
{% load static %}


{% block content %}

    <!-- Content -->
    <div class="container">
        <div class="row mt-1">
            
            <div class="col-lg-2">
                <!-- Emty block -->
            </div>

            <div class="col-lg-10">
                <!-- Content on the page -->
                <div class="mt-4 pt-2 pb-2 bg-white custom-shadow rounded d-flex flex-column align-items-center">
                    <h2 class="m-2"><strong>Furniture store HOME</strong></h2>
                    <p class="m-2">Exquisite design, quality, reasonable prices, fast delivery</p>
                </div>
                

            </div>
        </div>
    </div>

</section>
    {% endblock %}
    